<ion-header>
  <ion-toolbar>
    <ion-title>
      Metodos Optimizacion Grafos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="opcGraph" color="dark">
    <ion-segment-button  value="djistra">
      <ion-label>Ruta<br>mas corta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="prim">
      <ion-label>Árbol de expansión<br>mínima</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card>
    <app-graph-dijkstra *ngIf="opcGraph=='djistra'"></app-graph-dijkstra>
    <app-graph-prim *ngIf="opcGraph=='prim'"></app-graph-prim>
  </ion-card>
</ion-content>
