<ion-header>
  <ion-toolbar>
    <ion-title>
      Metodos de Optimizacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="opcCalc" color="dark">
    <ion-segment-button  value="simplex">
      <ion-label>Simplex</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hungaro">
      <ion-label>Hungaro</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nortcorner">
      <ion-label>Esquina<br>Noreste</ion-label>
    </ion-segment-button>
  </ion-segment>
      
  <app-calc-symplex *ngIf="opcCalc=='simplex'"></app-calc-symplex>
  <app-calc-hungaro *ngIf="opcCalc=='hungaro'"></app-calc-hungaro>
  <app-calc-nortcorner *ngIf="opcCalc=='nortcorner'"></app-calc-nortcorner>
</ion-content>
